@{
    ViewData["Title"] = "Tsukar";
    Layout = "MasterPage";
    
}

<div class="container">

    <h1>Bem vindo</h2>
        <form action="/Cadastro/Cadastrar" method="POST">
            <div class="form-group">
                <input type="submit" value="vaga 1"><a href="/Views/Home/cadastrovaga1.cshtml"></a>
                <input type="submit" value="vaga 2"><a href="/Views/Home/cadastrovaga2.cshtml"></a>

            </div>
                
            