@{
    ViewData["Title"] = "Tsukar";
    Layout = "MasterPage";
    
}

<div class="container">

    <h1>Bem vindo</h2>
        <form action="/Usuario/Cadastrar" method="POST">
            <div class="form-group">
                
            