@using okagorachega.Models;
@using System.IO;
@{
    Layout = "_Layout";
    Html.RenderPartial("_HeaderNavBar");
    var listaAprovada = (List<ComentarioModel>) ViewData["Comentarios"];
}
<body>
    <main>
        <section id="banner">
            <div class="titulo">

                   <h1>Ponto Digital</h1>
                   <h2>Sempre crescendo na hora certa</h2>
                  <div class="botao"><h3><a class="botaoo" href="#">Teste Grátis</a></h3> </div>
            </div>
        </section>
        <section id="funcionalidades">
            <div class="div1">
                <h2>Marcação de ponto online</h2>
                
                <p>Deixe seus funcionários baterem ponto online onde quer que estejam.</p>
            </div>
            <div class="div2">
                <h2>Banco de horas</h2>
                
                <p>Faça a gestão de banco de horas dos funcionários de forma automática diretamente no sistema.</p>
            </div>
            <div class="div3">
                <h2>Gestão de usuários</h2>
                
                <p>Controle quem tem acesso aos relatórios, lista de funcionários e quem somente marca o ponto.</p>
            </div>

            <div class="image"><img src="~/Imagens/celefone.png" alt="Telefone" /></div>

            <div class="div4">
                    <h2>Relatórios automatizados</h2>
                    
                    <p>Exporte relatórios e use-os para fazer análises, prestar contas e elaborar a folha de pagamento.</p>
                </div>
                <div class="div5">
                    <h2>Localização dos pontos</h2>
                    
                    <p>Deixe seus funcionários baterem ponto online onde quer que estejam.</p>
                </div>
                <div class="div6">
                    <h2>Horas extras e adicional noturno</h2>
                    <p>Deixe o sistema calcular as horas extras e adicional noturno dos funcionários de forma automática.</p>
                </div>
        </section>
        <section id="quemsomos">
            <div class="txt">

                <h2>Quem somos nós?</h2>
                <p>Desenvolvida em 1999, Agora Vai! é uma empresa de software consolidada no mercado,
                    e vem trazendo softwares cada vez mais sofisticados e desenvolvidos cuidadosamente. Ponto digital é
                    o último produto lançado por Agora Vai!, que promete trazer satisfação aos seus clientes.</p>
                </div>
                <div id="local">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.885109341232!2d-46.64685812086662!3d-23.536634336337777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola+SENAI+de+Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1552503758678"
                         width="400" height="297" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <img src="~/Imagens/imagefb.jpg" alt="Equipe" />
        </section>
        <section id="planos">
            <section class="plano">
                <h3>Plano básico</h3>
                <h2>Gratuito</h2>
                <p>1 funcionário, 
                    <br />
                    suporte de até 48h</p>
            </section>
            <section class="plano">
                    <h3>Plano fácil</h3>
                    <h2>R$29,90/mês</h2>
                    <p>Até 5 funcionários,
                        <br />
                        suporte de até 24h</p>
                </section>
                <section class="plano">
                    <h3>Plano vantagem</h3>
                    <h2>R$149,90/mês</h2>
                    <p>Até 50 funcionários,
                        <br />
                         suporte de até 12h</p>
                </section>
                <section class="plano">
                    <h3>Plano mega vantagem</h3>
                    <h2>R$299,90/mês</h2>
                    <p>Até 500 funcionários,
                        <br />
                        suporte de até 2h</p>
                </section>
        </section>
        <section id="cadastro">
            <div class="mari">

                <h2>Tenha o controle do Ponto Digital, cadastre-se</h2>

    <section id="formulario">
    <form method="POST" action='@Url.Action("Cadastrar", "Cadastro")' >
                        <!-- primeiro método, depois controller -->
                   
    <div class="form-group">
    <label for="nomee">Nome</label>
    <input type="text" class="form-control" id="nomee" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="emaill">email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="data-nascimento">Data de nascimento</label>
    <input type="date" class="form-control" id="exampleInputPassword1" name="data-nascimento" placeholder="Password">
  </div>
  
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
        </section>
                
                
                
            
                
        </section>
        <section id="depoimentos">
            <h2>FAQ e depoimentos</h2>
           <section id="FAQ">
               <div class="cara">
                   <p>Pergunta frequente número 1 e resposta</p>
               </div>
               <br />
               <div class="cara">
                    <p>Pergunta frequente número 2 e resposta</p>
                </div>
                <br />
                <div class="cara">
                        <p>Pergunta frequente número 3 e resposta</p>
                    </div>
                    <br />
                    <div class="cara">
                            <p>Pergunta frequente número 4 e resposta</p>
                        </div>
                        <br />
                        <div class="cara"> 
                                <p>Pergunta frequente número 5 e resposta</p>
                            </div>
                            <br />
                            <div class="cara">
                                    <p>Pergunta frequente número 6 e resposta</p>
                                </div>
            </section>
            <section id="comentarios">
                <form method="POST" action='@Url.Action("RegistrarComentario", "Comentario")'>
                    <label for="nome">Digite seu nome</label>
                    <input name="nome" id="nome" type="text"maxlength="250" minlength="3" required>
                    <label for="mensagem" >Digite a mensagem!</label>
                    <input name="mensagem" id="mensagem" type="text" maxlength="250" minlength="3" required/>
                    <label for="dataEnvio">Coloque a data de hoje</label>
                    <input type="date" name="dataEnvio" maxlength="250" minlength="3" required>
                    <input id="btn_submit" type="submit" value="RegistrarComentario">
                </form> 
            </section>
            <article id="comentarios">
                <h2>Comentários dos usuários</h2>

                <div>
                    @foreach(var item in listaAprovada){

                    <div class="div">
                        <p class="msn">"@item.Mensagem"</p>
                    </div>
                    }
                </div>
            </article>
            </section>
            <section id="sac">
                <h2>SAC</h2>
                
                <div id="orelha">

                    <form method="GET" action="index.html">
                        <fieldset>
                            <div class="sofrencia">

                                <input placeholder="Nome" name="nome" id="nome" type="text" maxlength="50" minlength="3" required/>
                                <br />
                                
                                <input class="clase" placeholder="telefone" name="telefone" id="telefone" type="tel" required />
                            </div>
                            <div class="antiaderencia">

                                
                                <input placeholder="email" name="email" id="email" type="email" required />
                                <br />
                                
                                <input class="clase" placeholder="assunto" name="nome" id="nome" type="text" maxlength="50" minlength="3" required/>
                            </div>
                            <br />
                            <div class="malemolencia">

                                <input placeholder="mensagem" name="nome" id="nome" type="text" maxlength="250" minlength="3" required/>
                                <br />
                                <input id="btn_submit" type="submit" value="Cadastrar">
                            </div>
                        </fieldset>
                    </div>
            </section>
        </main>
        <!--https://www.w3schools.com/cssreF/sel_hover.asp-->
</body>
