@RenderBody()

<nav id="nav">
    <div class="section-container"></div>
            <img class="logo" src="logo.png" alt="logo da empresa" />
            
            <ul>
                <li class="lista"><a href="#">Funcionalidades</a></li>
                <li class="lista"><a href="#">Quem somos nós</a></li>
                <li class="lista"><a href="#">Pacotes</a></li>
                <li class="lista"><a href="#">FAC/SAC</a></li>
                <li class="lista"><a href="#">Cadastro/Login</a></li>
                <li class="lista"><a href="#"><img class="lupa" src="lupa.png" alt="lupa de pesquisa"></a></li>
            </ul>
    
</nav>