@model Hamburgueria_Tarde.ViewModels.PedidoViewModel
<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>

<main>
        <h2>@ViewData ["NomeView"]</h2>
        <form method="POST" action="Pedido/RegistrarPedido">
            <div>
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome" />
            </div>

            <div>
                <label for="endereco">Endereço</label>
                <br />
                <input id="endereco" type="text" maxlength="20" minlength="3" name="endereco" />
            </div>

            <div>
                <label for="telefone">Telefone para contato</label>
                <br />
                <input id="telefone" type="text" name="telefone"/>
            </div>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" name="email"/>
            </div>
            <div>
                <label for="data-nascimento">Data de nascimento</label>
                <br />
                <input id="data-nascimento" type="date" name="data-nascimento"/>
            </div>
            <div>
                <label for="senha">senha</label>
                <br />
                <input id="senha" type="password" name="senha"/>
            </div>
            <div>
                <label for="confirmar-senha">Confirme sua senha</label>
                <br />
                <input id="confirmar-senha" type="password" name="confirmar-senha"/>
            </div>


            
            <input type="submit" value="Cadastrar" />
        </form>

    </main>