@{
    Layout = "MasterPage";
    ViewBag.Title = "cadastro de Usuários";
    
}
<div class="container">

    <h1>Bem vindo</h2>
        <form action="/Usuario/Cadastrar" method="POST">
            <div class="form-group">
                
                <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control"> 
                <label for="email">E-mail: </label>
                <input type="text" name="email" class="form-control">
                <label for="senha">Senha</label>
                <input type="text" name="senha" class="form-control">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" name="dataNascimento" class="form-control">
                <br>
                <input type="submit" value="Cadastrar"class="btn btn-secondary btn-lg btn-block">
                
            </div>
            
        </form>
    </div>