<h1>Bem vindo</h2>
<form action="/Usuario/Cadastrar" method="POST">
    <label for="nome">Nome: </label>
    <input type="text" name="nome"> 
    <label for="email">E-mail: </label>
    <input type="text" name="email">
    <label for="senha">Senha</label>
    <input type="text" name="senha">
    <label for="dataNascimento">Data de Nascimento</label>
    <input type="date" name="dataNascimento">
    <input type="submit" name="Cadastrar">

    </label>

</form>